<div class="input-group input-group-lg">
  <input type="text" class="form-control" aria-label="Dealer" placeholder="Dealer">
</div>

<div class="input-group input-group-lg">
  <input type="text" class="form-control" aria-label="Article" placeholder="Article">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon">€</span>
  <input type="text" class="form-control" aria-label="Amount" placeholder="Amount">
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Total Amount</p>
  </div>
</footer>
