/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.input-group-order {
    margin-top: 20px;
}

.table-orderLines {
   margin-top: 20px;
}

.alert-order{
    margin-top: 20px;
}