<div *ngIf="dealers && dealers.length > 0">
  <div class="page-header">
    <h1>New Order</h1>
  </div>

  <div class="input-group-order" >
    <ng-select #dealerSelectId [allowClear]="true"
               [items]="dealers"
               (selected)="selectedDealer($event)"
               placeholder="No dealer selected">
    </ng-select>
  </div>

  <div class="input-group-order">
    <ng-select #articleSelectId [allowClear]="true"
               [items]="articles"
               (selected)="selectedArticle($event)"
               placeholder="No article selected">
    </ng-select>
  </div>

  <div class="input-group input-group-order">
    <span class="input-group-addon">€</span>
    <input [(ngModel)]="newOrderLine.price" type="text" class="form-control" aria-label="Price"
           placeholder="Price" [formControl]="priceFormControl" />
  </div>
  <md-error *ngIf="priceFormControl.hasError('pattern')">
    Please enter a valid price
  </md-error>

  <div class="input-group-order">
    <button class="btn btn-primary" (click)="addOrderLine()"
            [disabled]="!newOrderLine.dealer || !newOrderLine.article || !newOrderLine.price">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
  </div>

    <table class="table table-striped table-orderLines">
      <thead>
        <tr>
          <th>Dealer</th>
          <th>Article</th>
          <th>Price</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderLine of order.orderLines" (click)="onSelect(orderLine)" >
          <td>{{orderLine.dealer}}</td>
          <td>{{orderLine.article}}</td>
          <td>{{orderLine.price | currency:'EUR': true}}</td>
          <td>
            <a (click)="deleteOrderLine(orderLine, $event)">Delete</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td><strong>Total Amount</strong></td>
        <td><strong>{{totalAmount | currency:'EUR': true}}</strong></td>
        <td></td>
      </tr>
      </tfoot>
    </table>
    <div class="input-group-order">
      <button class="btn btn-primary" (click)="submitOrder()"
              [disabled]="order.orderLines.length == 0">
        Submit Order
      </button>
    </div>
    <div class="alert alert-success alert-order" role="alert"
    *ngIf="success">{{success}}</div>
    <div class="alert alert-danger alert-order" role="alert" *ngIf="error">{{error}}</div>
  </div>
