<div class="page-header">
  <h1>Cashboxes</h1>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Kreischa News</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
</div>

    <ul class="list-group">
      <li *ngFor="let cashbox of cashboxes" (click)="onSelect(cashbox)" class="list-group-item">

          <span style="font-weight: bold"> {{cashbox.name}}</span>

          <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">Actions
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li>
                      <a>List Order</a>
                  </li>
                  <li>
                      <a [routerLink]="['/cashbox-detail', cashbox.id, 'order']">Create Order</a>
                  </li>
                  <li>
                      <a (click)="deleteCashbox(cashbox, $event)">Delete Cashbox</a>
                  </li>
              </ul>
          </div>
      </li>
    </ul>

<!--
<div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
<button (click)="addCashbox()" class="btn btn-xs btn-default">Add New Cashbox</button>
<div *ngIf="addingCashbox">
  <my-cashbox-detail (close)="close($event)"></my-cashbox-detail>
</div>

-->
