<div class="jumbotron">
    <h1>Kassenboxen 2.0</h1>
    <p>Bitte die entsprechende Kasse (Nummerierung ist an den Tischen ausgelegt) auswählen und
        darauf alle Kunden abrechnen.
    </p>
</div>

    <ul class="list-group">
      <li *ngFor="let cashbox of cashboxes" (click)="onSelect(cashbox)" class="list-group-item">

          <div class="col">
              <h4 class="list-group-item-heading">{{cashbox.Name}}</h4>
              <p class="list-group-item-text">{{cashbox?.ValidFromDate | date:'dd.MM.y' }} -
                  {{cashbox?.ValidToDate | date:'dd.MM.y' }}</p>
          </div>

          <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gehe zu
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item"
                     [routerLink]="['/cashbox-details', cashbox.ID, 'order']">Abkassieren</a>
                  <a class="dropdown-item"
                     [routerLink]="['/cashbox-details', cashbox.ID, 'orders']">Kassensturz</a>
              </div>
          </div>

      </li>
    </ul>
<div class="new-cashbox-button">
    <button class="btn btn-primary" [routerLink]="['/cashbox-details']">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
    </button>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>